<a href="https://colab.research.google.com/github/2Saisubramanyam/Python-basic-programs/blob/main/Untitled13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Patterns in **Python**

Right Triangle

In [ ]:
n=int(input())
for i in range(1,n+1):
  for j in range(1,i+1):
    print("*",end=" ")
  print()

5
*
* *
* * *
* * * *
* * * * *

Opposite of Right Triangle

In [ ]:
n=int(input())
for i in range(0,n+1):
  for j in range(i,n+1):
    print("*",end=" ")
  print()

5
* * * * * *
* * * * *
* * * *
* * *
* *
*

Odd Right Triangle

In [ ]:
n=int(input())
k=1
for i in range(0,n+1):
  for j in range(1,k+1):
    print("*",end=" ")
  k+=2
  print()

4
*
* * *
* * * * *
* * * * * * *
* * * * * * * * *

Triangle

In [ ]:
n=int(input())
for i in range(0,n):
  for j in range(0,n-i-1):
    print(end=" ")
  for j in range(0,i+1):
    print("*",end=" ")
  print()

4
   *
  * *
 * * *
* * * *

Opposite Triangle

In [ ]:
n=int(input())
for i in range(n,0,-1):
  for j in range(0,n-i):
    print(end=" ")
  for j in range(0,i):
    print("*",end=" ")
  print()

4
* * * *
 * * *
  * *
   *

In [ ]:
print(12//10)

1

In [ ]:
from collections import Counter
n=input()
l =sorted(list(n))
cnt=Counter(l)
for key, value in cnt.items():
    print(key,value,end="",sep="")

phqgh
g1h2p1q1

In [ ]:
from collections import Counter
n=input()
l =sorted(list(n))
print(l)

babdc
['a', 'b', 'b', 'c', 'd']

In [ ]:
s=[1,2,3,4,2]
s2=[2,3,4,5]
l=[]
for i in range(len(s2)):
  if(s2[i] in s):
    l.append(s2[i])
    s.remove(s2[i])
print(l)

[2, 3, 4]

In [ ]:
n=int(input())
b=bin(n)
s=str(b)
r=s[2:]
print(r)

4
100

Anagrms

In [ ]:
n=input()
n2=input()
s=n.lower()
s2=n2.lower()
if(len(s)==len(s2)):
  if(sorted(s)==sorted(s2)):
    print("anagram")
  else:
    print("not anagram")
else:
  print("not anagram")

not
ton
anagram

In [ ]:
n=int(input())
s=str(n)
r=s[::-1]
if(s==r):
  print("palindrome")
else:
  print("Not palindrome")

182
Not palindrome

In [ ]:
st='hackerrank'
s='hackerworld'
l1=list(st)
l2=list(s)
c=0
lent=len(st)
for i in range(0,len(l1)):
  if(l1[i] in l2):
    c+=1
if(c==lent):
  print('ye')
else:
  print('no')

no

In [ ]:
s=input()
ans=' '.join(s.split()[::-1])
print(ans)

In [ ]:
l=[-1,2,1,4,5,2]
t=5
le=i+1
res=[]
r=len(l)-1
for i in range(1,len(l)-2):
  while(le<r):
    total=l[i]+l[le]+l[r]
    if(total < t):
      le+=1
    elif(total > t):
      r-=1
    else:
      res.append(l[i],l[le],l[r])
print(res)

[]

Transpose of matrix

In [ ]:
l=[
   [1,2],
   [3,4]
  ]
for i in range(len(l)):
  for j in range(i):
    l[i][j],l[j][i]=l[j][i],l[i][j]
#for reversing the matrix
#rotated matrix
for i in l:
  print(i)
  i.reverse()
print(l)

[1, 3]
[2, 4]
[[3, 1], [4, 2]]

In [ ]:
print(5^25)

28

In [ ]:
import re
s=input()
l=s.split()
s1=l[0]
m=l[1]
def check(a,b):
  match=re.search(a,b)
  if(match):
    return 'Yes'
  else:
    return 'No'
check(m,s1)

no ni

'No'

In [ ]:
s='madam mam'
l=s.count('m')
print(l)

4

In [ ]:
n=int(input())
l1=[]
for i in range(0,n):
  s=input()
  l=s.split()
  s1=l[0]
  m=l[1]
  ans=check(m,s1)
  l1.append(ans)
for i in l1:
  print(i)

2
m m
M m
Yes
No

In [ ]:
s='subramanyam'
vowles='aeiou'
for i in s:
  if(i not in vowles):
    print(i,end="")

sbrmnym

In [ ]:
n=int(input())
for i in range(1,n):
  for j in range(1,n):
    print('*',end="")
  print()

5
****
****
****
****

In [ ]:
n=25
for i in range(2,n):
  if(n%i==0):
    print(i,end=' ',sep='X')

5

In [ ]:
15%6

3

Linked List

In [ ]:
#creating a node
Class Node:
def __init__(self,data):
  self.data = data
  self.next = None
#creatig a head
Class LL:
def __init__(self):
  self.head = None

Intersection

In [ ]:
A=[1,2,3,3,4,5,6]
B=[3,3,5]
res = []
i, j = 0, 0 
while(i < len(A) and j < len(B)):
  if A[i] == B[j]:
    res.append(A[i])
    j += 1
    i += 1
  elif A[i] < B[j]:
    i += 1
  elif A[i] > B[j]:
    j += 1
print(res)

[3, 3, 5]

In [ ]:
s='babdc'
ll=[]
l=sorted(list(s))
for i in range(0,len(l)):
  print(l[i],l.count(l[i]),end="",sep="")

a1b2b2c1d1

In [ ]:
l=[0,0,1,2,1]
s=sorted(l)
se=list(set(l))
print(se)
print(s)

[0, 1, 2]
[0, 0, 1, 1, 2]

In [ ]:
n=10
n2=15
l=[]
for i in range(n,n2):
  for j in range(n+1,n2+1):
    ans=i^j
    l.append(ans)
print(max(l))

7

In [ ]:
arr=[5,4,5,3,7]  
for i in range(0,len(arr)):
  if(arr[i]==max(arr[i:])):
    print(arr[i],end=" ")

7

In [ ]:
def gcd(a,b):
  if(b==0):
    return a
  return gcd(b,a%b)

In [ ]:
print(gcd(98,56))

14

In [ ]:
print(int('00000010100101000001111010011100',2))

43261596

In [ ]:
n=["abcw","baz","foo","bar","xtfn","abcdef"]
l=[]
for i in range(0,len(n)):
  l.append(len(n[i]))
print(l)

[4, 3, 3, 3, 4, 6]

TypeError: ignored

In [ ]:
print(hex(-1)[2:])

x1

In [ ]:
nums1=[4,1,2]
nums2=[1,3,4,2]

for i in range(0,len(nums1)):
  if(nums1[i] in nums2):
    if(nums2[i]<nums2[i+1]):
      print(nums2[i+1])
    else:
    print(-1)

3
4
2

In [ ]:
nums1=[4,1,2]
nums2=[1,3,4,2]
for i in range(0,len(nums1)):
  if(nums1[i] in nums2):
    if(nums1[i]<nums2[i]):
      print(nums2[i])
    else:
      print(-1)

-1
3
4

In [ ]:
l=[1,2,3,1]

for i in range(0,len(l)):
  if(l[i]>l[i-1] and l[i]>l[i+1]):
    print(l.index(l[i]))
    break

2

In [ ]:
n=["a", "banana", "app", "appl", "ap", "apply", "apple"]
n.sort()
print(n)
a=n[0]
for i in range(0,len(n)):
  if(n[i] not in a):
    
print(a)

['a', 'ap', 'app', 'appl', 'apple', 'apply', 'banana']

TypeError: ignored

In [ ]:
l=[4, 2, -3, 1, 6]
c=0
sum=0
s=set()
for i in l:
  s.add(sum)
  sum+=i
  if(sum in s):
    print('True')
    break
else:
  print('False')

True

Smallest Kth element

In [ ]:
k=int(input())
l=list(map(int,input().split()))
s=list(set(l))
so=sorted(s)
if(k>len(so)):
  print('NULL')
else:
  print(so[k-1])

4
7 10 4 3 20 15
10

In [ ]:
st=input()
li=list(st)
l=[int(x) for x in li]
s=[]
for i in range(0,len(l)-1):
  s.append(l[i])
  if(l[i]%2==0 and l[i+1]%2==0):
    s.append("*")
  if(l[i]%2==1 and l[i+1]%2==1):
    s.append('-')
s.append(l[-1])
print(*s,sep="")

214626
214*6*2*6

In [ ]:
s='x+5-3+x=6+x-2'
c=0
for i in s:
  if(i=='x'):
    c+=1
l=[]
for i in s:
  if(i!='x'):
    l.append(i)
print(l)

['+', '5', '-', '3', '+', '=', '6', '+', '-', '2']

In [ ]:
 nums = [1,7,3,6,5,6]

 for i in range(0,len(nums)):
   a1=sum(nums[:i])
   a2=sum(nums[i+1:])
   if(a1==a2):
     print(i)

3

In [ ]:
s='FLaG'
for i in s:
  if(i.upper()):
    a='true'
  elif(s[0].upper() and s[0:].lower()):
    a='true'
  else:
    a='false'
print(a)

true

In [ ]:
l=["bella","label","roller"]
str1 = " " 
a=str1.join(l)
ans=list(a)
empty=[]
for i in ans:
  if(ans.count(i)>=3 and ans.count(i)!=4):
    o=i
    empty.append(o)
print(empty)

['e', 'l', 'l', 'l', 'e', 'l', 'l', 'l', 'e']

In [ ]:
s='nobita'
l=list(s)
ll=[]
v=['a','e','i','o','u']
for i in l:
  if(i in v):
    a=s.replace(i,'@')
    ll.append(a)
print(ll)

['n@bita', 'nob@ta', 'nobit@']

In [ ]:
N=10
n=int(input())
if(n>10 or n==0):
  print('INVALID INPUT')
  print('NUMBER OF CANDIES AVALIABLE:',N)
else:
  print('NUMBER OF CANDIES SOLD:',n)
  print('NUMBER OF CANDIES AVALIABLE:',N-n)

5
NUMBER OF CANDIES SOLD: 5
NUMBER OF CANDIES AVALIABLE: 5

In [ ]:
n=int(input())
if(n>7000):
  print('Invalid')
if(n<=2000):
  print("Time Estimated: 25 minutes")
elif(n>=2001 and n<=4000):
  print("Time Estimated: 35 minutes")
elif(n>4000):
  print("Time Estimated: 45 minutes")

2200
Time Estimated: 35 minutes

In [ ]:
s='All the best'
key=1
def custom(key,s):

In [ ]:
s='All the best'
key=1
l=[]
for i in s:
  a=ord(i)-96
  l.append(a)
li=[abs(x) for x in l]
print(li)
final=[]
for i in range(0,len(li)):
  a=li[i]+key
  final.append(a)
print(final)
fo=[]
for i in range(0,len(final)):
  if(final[i]>31):
    ans=chr(ord('@')+final[i])
    fo.append(ans)
  else:
    an=chr(ord('`')+final[i])
    fo.append(an)
print(*fo)

[31, 12, 12, 64, 20, 8, 5, 64, 2, 5, 19, 20]
[32, 13, 13, 65, 21, 9, 6, 65, 3, 6, 20, 21]
` m m  u i f  c f t u

In [ ]:
interior=int(input())
exterior = int(input())
iinti=[]
eetri=[]
for i in range(0,interior):
  inti=float(input())
  iinti.append(inti)
for i in range(0,exterior):
  extri=float(input())
  eetri.append(extri)
sum1=sum(iinti)
sum2=sum(eetri)
ans=(sum1*18)+(sum2*12)
print('Total Estimated Cost:',ans,'INR')

2
2
12.2
12.3
10.00
10.10
Total Estimated Cost: 682.2 INR

In [ ]:
l=[1,2,3,4,5,6,7]
print(l[6:2])

[]

In [ ]:
s='abababcdefababcdab'
print(len(set(s)))

6

In [ ]:
n=int(input())
while(n!=0):
    s=input()
    print(len(set(s)))
    n-=1

2
abababcdefababcdab
6
geeks
4

In [ ]:
a=bin(3)
print(a[2:])

11

In [ ]:
n=int(input())
em=[]
while(n!=0):
  num=int(input())
  l=list(map(int,input().split()))
  numb=int(input())
  if(numb in l):
    ans=l.index(numb)
    em.append(ans)
  else:
    em.append(-1)
  n-=1
for i in em:
  print(i)

2
5
1 2 3 4 5
4
5
11 22 33 44 55
445
3
-1

In [ ]:
s=input()
num=['0','1','2','3','4','5','6','7','8','9']
l=s.split()
em=[]
for i in range(0,len(l)):
  if(l[i][0] in num):
    em.append(l[i])
ansl=[int(x)for x in em]
print(max(ansl))

This is alpha 5057 and 97
5057

In [ ]:
s='geeksforgeeks'
se=set()
c=0
l=list(s)
for i in l:
  if(i in se):
    c=1
    break
  else:
    se.add(i)
if(c==1):
  print(i)
else:
  print(-1)

e

In [ ]:
def factors(x):
  l=[]
  for i in range(1, x + 1):
    if x % i == 0:
      l.append(i)
  return(l)

In [ ]:
n=6
l=factors(6)
exp=sum(l[:-1])
if(exp==n):
  print(1)
else:
  print(0)

1

In [ ]:
s='abcdefg'
n=3
l=list(s)
em=[]
for i in range(0,len(l)):
  if(i%n==0):
    em.append(l[i])
print(em)

['a', 'd', 'g']

In [ ]:
l1=[1,2,4,4,6]
l2=[2,4,3]
c=len(l2)
for i in range(0,len(l2)):
  if(l2[i] in l1):
    c-=1
if(c>0):
  print(False)
else:
  print(True)

False

In [ ]:
l=[1,2,1]
em=[]
for i in range(0,len(l)-1):
  if(l[i]==2 and l[i+1]==2):
    em.append(l[i])
    em.append(l[i+1])

if(em==[2,2]):
  print(True)
else:
  print(False)

False

In [ ]:
print(int(26/5))

5

In [ ]:
s='hi'
print(s*3)

hihihi

In [ ]:
s='Chocolate'
print(s[:3])

Cho

In [ ]:
n=int(input())
num=list(map(int,input().split()))
l=[str(x) for x in num]
l2=[]
l3=[]
l4=[]
for i in l:
  a=list(i)
  l2.append(a)
for i in l2:
  b=[int(x) for x in i]
  l3.append(b)
for i in l3:
  s=sum(i)
  l4.append(s)
print(*l4)

4
65 75
11 12

In [ ]:
s='Education'
s1=s.lower()
v=['a','e','i','o','u']
for i in s1:
  if(i not in v):
    print(i,end="")

dctn

In [ ]:
l=[10,98,3,33,12,22,21,11]
even=[]
odd=[]
for i in l:
  if(i%2==0):
    even.append(i)
  else:
    odd.append(i)
print(even+odd)

[10, 98, 12, 22, 3, 33, 21, 11]

In [ ]:
l=[0,0,1,1,1,2,2,3,3,4]
s=set(l)
l1=list(s)
print(len(l1))

5

In [ ]:
l=[2,16,12,24,18,9,2,8]
em=[]
for i in range(0,len(l)-1):
  m=max(l[i+1:])
  em.append(m)
em.append(-1)
print(em)

[24, 24, 24, 18, 9, 8, 8, -1]

In [ ]:
l=["bella","label","roller"]
em=[]
li=[]
for i in range(0,len(l)):
  li=list(l[i])
  em.append(li)
for i in range(0,len(em)):
  s=set(em[i])
  lis=list(s)
print(lis)

['e', 'r', 'l', 'o']

In [ ]:
a=[13,12,-12,9,9,16,7,-10,-20,0,18,-1,-20,-10,-8,15,15,16,2,15]
l=[abs(x) for x in a]
s=sorted(l)
em=[]
for i in range(0,len(s)-1):
  ans=s[i]-s[i+1]
  em.append(ans)
print(em)
for i in range(0,len(em)-1):
  if(em[i]==em[i+1]):
    print(True)
    break
  else:
    print(False)
    break

[-1, -1, -5, -1, -1, 0, -1, 0, -2, 0, -1, -2, 0, 0, -1, 0, -2, -2, 0]
True

In [ ]:
l=[3,1,2,4]
em=[]
em2=[]
for i in l:
  if(i%2==0):
    em.append(i)
  if(i%2==1):
    em2.append(i)
print(em+em2)

[2, 4, 3, 1]

In [ ]:
l=[4,2,5,7]
res=[0]*len(l)
print(res)

[0, 0, 0, 0]

In [ ]:
l=[1,2,3,4]
em=[]
for i in range(0,len(l)):
  for j in range(i,len(l)):
    for k in range(j,len(l)):
      if(l[i]<l[j]<l[k] or l[i]>l[j]>l[k]):
        em.append(l[i])
        em.append(l[j])
        em.append(l[k])
ans=len(em)//3
print(ans)

4

In [ ]:
l=[2,2,2,3,3,3]
em=[]
for i in range(0,len(l)):
  if(l.count(l[i])==l[i]):
    em.append(l[i])
if(len(em)==0):
  print(-1)
else:
  print(max(em))

3

In [ ]:
l=[0,0,0,1]
s=sorted(l)
sq=[x*2 for x in s]
for i in range(0,len(s)):
  if(s[-1]>=max(sq[:-1])):
    print(l.index(s[-1]))
    break
  else:
    print(-1)
    break

3

In [ ]:
l=[1,2]
em=[]
for i in range(0,len(l)):
  if(l.count(l[i])>len(l)/3):
    em.append(l[i])
s=list(set(em))
print(s)

[1, 2]

In [ ]:
l=[1,2,3,4,5]
m=(len(l)-1)/2
inn = int(m)
median=l[inn]
em=[]
for i in range(0,len(l)):
  for j in range(0,len(l)):
    if(abs(l[i]-median)>abs(l[j]-median) and l[i]>l[j]):
      em.append(l[i])
print(em)

[4, 5, 5, 5]

In [ ]:
import math
def primeFactors(n):
   while n % 2 == 0:
      return 2,
      n = n / 2
   for i in range(3,int(math.sqrt(n))+1,2):
      while n % i== 0:
         return i
         n = n / i
   if n > 2:
      return n
n=6
print(primeFactors(n))

(2,)

In [ ]:
s=input()
l=list(s)
if(s[0]!=s[-1] and len(s)>2):
  l[0],l[-1]=l[-1],l[0]
  ans="".join(l)
  print(ans)
if(len(s)==2):
  print(s)

subbu
uubbs

In [ ]:
n='100'
co=int(n,2)
print(co)

4

In [ ]:
n=20
print(bin(n)[2:])
print(oct(n)[2:])
print(hex(n)[2:])

10100
24
14

In [ ]:
x=-100
result = int(str(x)[::-1]) if x >= 0 else int("-"+str(x)[::-1].replace("-", ""))
print(result)

-1

In [ ]:
def pal(n):
  s=str(n)
  r=s[::-1]
  if(s==r):
    return n
l=[1,525,3,4,252,5,10]
l.sort()
c=-1
while(c!=(-len(l))):
  if(l[c]==pal(l[c])):
    print(l[c])
    break
  c-=1

525

In [ ]:
print(pal(525))

525

In [ ]:
def diffsum(n,m):
  nn=0
  mm=0
  for i in range(1,m+1):
    if(i%n==0):
      nn+=i
    elif(i%n!=0):
      mm+=i
  diff = abs(mm-nn)
  return diff

print(diffsum(3,10))

19

Step 1) 14 is even; divide by 2 and obtain 7. 
Step 2) 7 is odd; subtract 1 and obtain 6.
Step 3) 6 is even; divide by 2 and obtain 3. 
Step 4) 3 is odd; subtract 1 and obtain 2. 
Step 5) 2 is even; divide by 2 and obtain 1. 
Step 6) 1 is odd; subtract 1 and obtain 0.

In [ ]:
n=14
c=0
while(n>0):
  if(n%2==0):
    ans=n//2
    c+=1
    n-=ans
  if(n%2==1):
    n=n-1
    ans=n//2
    c+=1
print(c)

6

In [ ]:
n=7
b=bin(n)[2:]
l=list(b)
li=[]
for i in range(0,len(l)-1):
  if(l[i]==l[i+1]):
    li.append('f')
    break
  else:
    li.append('t')
print(li[-1])
print(li)

f
['f']

In [ ]:
l=[1024,512,256,128,64,32,16,8,4,2,1]
l2=[]
l3=[]
l4=[]
for i in l:
  a=bin(i)[2:]
  if(a.count('1')==1):
    l2.append(i)
  if(a.count('1')==2):
    l3.append(i)
  if(a.count('1')==3):
    l4.append(i)

NameError: ignored

In [ ]:
n=2
l=[]
for i in range(0,n+1):
  s=bin(i)[2:]
  a=s.count('1')
  l.append(a)
print(l)

[0, 1, 1]

In [ ]:
n=0
b=bin(n)[2:]
l=[]
for i in b:
  if(i=='0'):
    l.append('1')
  if(i=='1'):
    l.append('0')
ans="".join(l)
print(int(ans,2))

1

In [ ]:
print('101',2)

101 2

In [ ]:
a='1'
b='0100'
c=0
for i in range(0,len(a)):
  if(a[i]!=b[i]):
    c+=1
print(c)

1

In [ ]:
print(bin(7)[2:])

111

# Selection Sort

In [ ]:
l=list(map(int,input().split()))
for i in range(0,len(l)):
  m=min(l[i:])
  mi=l.index(m,i)
  l[i],l[mi]=l[mi],l[i]
print(l)

6 7 2 2 1 4 9
[1, 2, 2, 4, 6, 7, 9]

In [75]:
s=input()
s.lower()
l=['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z']
em=[]
for i in range(0,len(l)):
  if(l[i] not in s):
    em.append('False')
  else:
    em.append('True')
print(em[-1])

We promptly judged antique ivory buckles for the prize
True

In [ ]:
a=list(map(int,input().split()))
b=list(map(int,input().split()))
c=a+b
print(sorted(c))

1 10 5 15
20 0 2
[0, 1, 2, 5, 10, 15, 20]

In [ ]:
t=int(input())
l=[]
while(t>0):
  N,M,K=input().split()
  l1=list(map(int,input().split()))
  l2=list(map(int,input().split()))
  li=l1+l2
  li.sort()
  ans=li[int(K)-1]
  l.append(ans)
  t-=1
for i in l:
  print(i)

2
5 4 5
2 3 6 7 9
1 4 8 10
7 11 15
1 10 10 25 40 54 79
15 24 27 32 33 39 48 68 82 88 90
6
79

In [ ]:
n=int(input())
t=n
sum=0
while (t>0):
  d=t%10
  sum+=d**3
  t//=10
print(sum)

153
153

In [1]:
s='100'
a=int(s,2)
print(a)

4

In [27]:
l=[13,6,7,12]
s=sorted(l)
li=[]
for i in range(0,len(s)-1):
  ans=s[i+1]
  li.append(ans)
li.append('_')
for i in range(0,len(l)):
  ind=s.index(l[i])
  ni=li[ind]
  print(ni,end=' ')

_ 7 12 13

In [4]:
t=int(input())
while(t>0):
    num=int(input())
    em=[]
    sum=0
    l=list(map(int,input().split()))
    for i in range(0,len(l)):
        sum+=l[i]
        em.append(sum)
    t-=1
print(em)

2
3
1 2 3
4
1 2 3 4
[10]

In [ ]:
2
4 3
-1 -3 4 2
4 2
0 -1 2 1

In [44]:
k=3
c=0
l=[-1,-3,4,2]

for i in range(0,len(l)):
  if(l[i]<=0):
    c+=1
if(c!=k):
  print('Yes')
else:
  print('No')
  2
4 3
-1 -3 4 2
4 2
0 -1 2 1

2
Yes

**ANGRY PROFESSOR** all test cases passed in first go

In [53]:
n=int(input())
em=[]
c=0
while(n>0):
  students,k=input().split()
  l=list(map(int,input().split()))
  for i in range(0,len(l)):
    if(l[i]<=0):
      c+=1
  if(c>=int(k)):
    em.append('NO')
  else:
    em.append('YES')
  c=0
  n-=1
for i in em:
  print(i)

1
10 2
19 29 -17 -71 -75 -27 -56 -53 65 83
6
NO

In [74]:
n=1012
s=list(str(n))
l=[int(x) for x in s]
c=0
for i in range(0,len(l)):
  if(l[i]!=0):
    if(n%l[i]==0):
      c+=1
print(c)

3

In [72]:
print(1%1012)

1